* {
  color: var(--black);
  text-decoration: none;
}
body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: var(--lightest-dark-blue);
  background-color: var(--white);
}

:root {
  --white: #ffffff;
  --white-light: #fcfcfc;
  --lightest-blue: #f4f4fd;
  --blue: #4d5ae5;
  --dark-light-blue: #404bbf;
  --light-violette: #e7e9fc;
  --dark-blue: #2e2f42;
  --lightest-dark-blue: #434455;
  --middle-grey: #8e8f99;
  --black: #000000;
  --grey-ligtest: #2e2f4214;
  --grey: #2e2f42;
  --grey-opacity-40: #2e2f4266;
  --grey-opacity-14: #00000024;
  --grey-opacity-15: #00000026;
  --grey-opacity-12: #0000001f;
  --grey-opacity-20: #00000033;
  --grey-middle: #757575;
  --green: #31d0aa;
}
h1,
h2,
h3,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
li svg {
  display: block;
}
img {
  display: block;
}
.section {
  padding: 96px 0;
}
.container {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
}
.column {
  flex-direction: column;
  justify-items: center;
}

/* header */
.page-header {
  padding: 16px 0;
  min-height: 56px;
  border-bottom: 1px solid var(--light-violette);
  box-shadow: 0 2px 1px rgba(46, 47, 66, 0.08), 0 1px 1px rgba(46, 47, 66, 0.16), 0 1px 6px rgba(46, 47, 66, 0.08);
}
.flex {
  display: flex;
}
.navi {
  width: 100%;
  display: flex;
  align-items: center;
  margin-right: auto;
}
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--blue);
  align-content: center;
  flex-grow: 1;
  padding: 0;
}
.menu-burger {
  position: relative;
  border: none;
  background-color: transparent;
  width: 24px;
  height: 24px;
  padding: 0;
}
.burger-icon {
  position: absolute;
  top: 4.8px;
  left: 3.6px;
}
.logo-span {
  color: var(--dark-blue);
}

/*overlay mobile menu*/
.overlay {
  opacity: 0;
  visibility: hidden;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-height: 640px;

  background-color: var(--white);
  z-index: 999;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay.active {
  opacity: 1;
  visibility: visible;
}
.overlay:not(.active) .menu {
  transition-delay: 0ms;
}

.menu {
  position: fixed;
  top: 2px;
  right: -100%;
  z-index: 1000;
  margin-top: 70px;
  transition: right 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  overflow: hidden;
}
.menu.is-open {
  right: auto;
}
.navi li {
  list-style-type: none;
  margin-bottom: 28px;
}
.navi-link {
  position: relative;
  font-size: 36px;
  color: var(--dark-blue);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0;
}

.navi-link:hover,
.navi-link:focus {
  color: var(--dark-light-blue);
}

.contacts-info {
  font-style: normal;
  position: fixed;
  top: 439px;
  left: 16px;
  display: none;
  width: 100%;
  z-index: 1000;

  transition: right 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}
.contacts-info.is-open {
  display: block;
}
.contacts-link {
  font-style: normal;
  font-weight: 400;
  color: var(--lightest-dark-blue);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--dark-light-blue);
}
.contacts-info li {
  list-style-type: none;
  flex-shrink: 0;
}
.list-contacts-item {
  font-size: 20px;
  letter-spacing: 0.04em;
  line-height: 1.2;
  font-weight: 500;
}
.list-contacts-item:nth-child(odd) {
  margin-bottom: 25px;
}
.overlay-social-icons {
  gap: 16;
  display: flex;
  position: relative;
  top: 560px;
  left: 16px;
  gap: 40px;
  justify-content: start;
  z-index: 1000;
  transition: right 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}

/* HERO */
.hero {
  display: flex;
  justify-items: center;
  padding: 72px 0;
  text-align: center;
  background-color: var(--dark-blue);
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url('../images/bg-hero/hero-bg-mob-1x.jpg');
  width: 100%;
  min-height: 432px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-text {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  color: white;
  max-width: 216px;
  max-height: 160px;
  height: auto;
  letter-spacing: 0.02em;
  margin: 0 auto 72px auto;
}
.btn-hero-img {
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  color: white;
  background-color: var(--blue);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-hero-img:hover,
.btn-hero-img:focus {
  background-color: var(--dark-light-blue);
  cursor: pointer;
}

/* TRAIT */
.trait-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
.trait-item {
  height: calc((100% - 72px) / 4);
  display: flex;
  flex-direction: column;
  text-align: center;
}
.trait-icon {
  display: none;
}
.title-portfolio {
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-blue);
  margin-bottom: 72px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.title-third {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--dark-blue);
  margin-bottom: 8px;
  text-align: center;
}

.trait-text,
.team-text {
  font-weight: 500;
  color: var(--lightest-dark-blue);
  text-align: center;
}

/* TEAM */
.title-section-third {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  margin-bottom: 72px;
}
.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: start;
}
.text-center {
  display: flex;
  flex-direction: column;
  padding: 32px 0;
  gap: 8px;
}
.text-center .team-subtitle,
.text-center .trait-text {
  text-align: center;
}
.team-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.social-icons {
  gap: 16;
  display: flex;
  gap: 24px;
  justify-content: center;
}
.social-icons-item {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icons-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--blue);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icons-link:hover,
.social-icons-link:focus {
  background-color: var(--dark-light-blue);
}
.trait-svg,
.team-svg {
  fill: var(--lightest-blue);
}
.color-bg {
  background-color: var(--lightest-blue);
}
.team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  margin: 0 12px;
  overflow: hidden;
}
.fix-line-height {
  line-height: 1.11;
}
.team-item {
  background-color: var(--white);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 var(--grey-ligtest), 0 1px 1px 0 var(--grey-ligtest), 0 1px 6px 0 var(--grey-ligtest);
  justify-items: center;
  align-items: center;
}
.team-member-image {
  padding: 32px 0;
}

/* PORTFOLIO */
.portfolio-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 48px;
  justify-content: center;
}
.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
  box-shadow: 0 2px 1px 0 var(--grey-ligtest), 0 1px 1px 0 var(--grey-ligtest), 0 1px 6px 0 var(--grey-ligtest);
}
.portfolio-item:hover .portfolio-img {
  transform: translateY(0%);
}
.portfolio-list img {
  width: 100%;
  min-height: 280px;
}
.portfolio-text {
  display: flex;
  flex-direction: column;
  padding: 32px 16px;
  border: 1px solid var(--light-violette);
  border-top: none;
  gap: 8px;
}
.portfolio-text h3,
.portfolio-text p {
  text-align: start;
}
.portfolio-card {
  position: relative;
  overflow: hidden;
}
.portfolio-img {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--lightest-blue);
  padding: 40px 32px;
  background-color: var(--blue);
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* footer */
.footer {
  background-color: var(--dark-blue);
  padding: 96px 0;
  height: 664px;
}
.text-footer {
  text-align: center;
}
.bottom-logo {
  display: inline-block;
  margin-bottom: 16px;
  margin-right: auto;
}
.span-second {
  color: var(--lightest-blue);
}
.footer-text {
  font-weight: 500;
  width: 288px;
  height: 72px;
  display: flex;
  color: var(--white);
  text-align: start;
  font-weight: 400;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  gap: 72px 0;
}

.footer-social {
  display: flex;
  flex-direction: column;
  height: 80px;
  align-items: center;
  gap: 16px;
}
.social-icons-link-footer:hover,
.social-icons-link-footer:focus {
  background-color: var(--green);
}

.subscribe {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(40px);
}
.subscribe-text {
  position: absolute;
  top: -40px;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
}
.subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.subscribe-input {
  width: 264px;
  height: 40px;
  border: 1px solid var(--white);
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0 4px 4px 0 var(--grey-opacity-15);
  border-radius: 4px;
  color: var(--white);
}
.subscribe-input::placeholder {
  color: var(--white);
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 8px 0 8px 16px;
}
.btn-subscribe {
  min-width: 165px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer;
  background-color: var(--blue);
  border: none;
  border-radius: 4px;
  padding: 0;
}
.subscribe-svg {
  margin-left: 16px;
}
.footer-paragraph {
  color: var(--lightest-blue);
}

.social-icons-link-footer {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--basic-transition);
}
/*modal*/
.modal-overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: var(--grey-opacity-40);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
}
.page-wrapper {
  width: 288px;
  height: 623px;
  position: relative;
  top: -49px;
  left: -16px;
}
.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  left: 16px;
  top: 8px;
  padding: 24px 16px;
  width: 288px;
  height: 623px;
  background-color: var(--white-light);
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 1px 1px 0 var(--grey-opacity-14), 0 1px 3px 0 var(--grey-opacity-12), 0 2px 1px 0 var(--grey-opacity-20);
  justify-content: center;
  align-items: center;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1000;
}
.modal-form {
  position: absolute;
  width: 256px;
  height: 336px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 8px;
  border-radius: 4px;
  transform: translateY(-8px);
}
.modal-close {
  position: absolute;
  top: 32px;
  left: 256px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #0000001a;
  border-radius: 50%;
  background-color: var(--light-violette);
  width: 24px;
  height: 24px;
  z-index: 1001;
  cursor: pointer;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.fix-positions {
  top: 24px;
  left: 272px;
}
.modal-close:hover,
.modal-close:focus {
  background-color: var(--dark-light-blue);
  border: none;
}
.svg-icon-close {
  fill: var(--grey);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover .svg-icon-close,
.modal-close:focus .svg-icon-close {
  fill: var(--white);
}
.modal-paragraph {
  position: absolute;
  width: 256px;
  height: 48px;
  left: 32px;
  top: 80px;
  z-index: 1001;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark-blue);
}
.input-group {
  width: 100%;
}
.input-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--middle-grey);
}
.input-wrapper {
  position: relative;
}
.input-modal {
  width: 100%;
  height: 40px;
  border: 1px solid var(--grey-opacity-40);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-modal:active,
.input-modal:focus {
  border-color: var(--blue);
}
.input-modal:focus .input-icon {
  fill: var(--blue);
}
.input-icon {
  fill: var(--black);
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  pointer-events: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-wrapper:focus-within .input-icon {
  fill: var(--blue);
}
.input-label .textarea-modal::placeholder {
  font-size: 12px;
  padding-left: 16px;
  padding-top: 8px;
  font-weight: 400;
}
.input-comment {
  margin: 0;
  width: 100%;
}
.input-label-title {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  color: var(--middle-grey);
  margin-bottom: 4px;
}
.textarea-modal {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--grey-opacity-40);
  border: 1px solid var(--grey-opacity-40);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-comment:focus-within .textarea-modal {
  border-color: var(--blue);
}
.textarea-modal::placeholder {
  color: var(--grey-opacity-40);
}
.user-privacy-container {
  position: absolute;
  z-index: 1020;
  height: 31px;
  width: 256px;
  top: 496px;
  left: 31px;
  transform: translateY(-7px);
}
.checkbox-input {
  color: var(--grey-opacity-40);
}
.checkbox-label {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--middle-grey);
}
.span-checkbox-svg {
  margin-right: 5px;
  fill: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid var(--grey-opacity-40);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.user-privacy-input:checked + .checkbox-label .span-checkbox-svg {
  background-color: var(--dark-light-blue);
  border: none;
  fill: var(--lightest-blue);
}
.user-privacy-input:focus + .checkbox-label .span-checkbox-svg {
  border-color: var(--blue);
}

.checkbox-svg {
  fill: transparent;
}
.privacy-policy-link {
  text-decoration: underline solid var(--blue);
  color: var(--blue);
  margin-left: 24px;
}
.btn-form {
  position: absolute;
  top: 551px;
  left: 75.5px;
  gap: 10px;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  padding: 16px 32px;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer;
  background-color: var(--blue);
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1000;
}
.btn-form:hover,
.btn-form:focus {
  background-color: var(--dark-light-blue);
  border: none;
}
.btn-form:hover .modal-close,
.btn-form:focus .modal-close {
  fill: var(--white);
}

/*mobile*/
@media (max-width: 581px) and (min-resolution: 2dppx) {
  .hero {
    max-height: 432px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/bg-hero/hero-bg-mob-2x.jpg');
  }
}

/*general for tablet & desktop*/
@media (min-width: 582px) {
  .page-header {
    padding: 0;
    display: block;
  }
  .navi {
    display: flex;
    align-items: center;
    margin-right: auto;
  }
  .navi-link {
    font-size: 16px;
    padding: 24px 0;
  }
  .active {
    color: var(--dark-light-blue);
  }
  .navi-link.active::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: var(--dark-light-blue);
    border-radius: 2px;
  }
  .menu {
    margin: 0;
    position: static;
    display: flex;
    font-weight: 500;
    padding: 24px 0;
    gap: 40px;
    max-height: 72px;
    z-index: 0;
  }
  .menu-burger {
    display: none;
  }
  .overlay {
    display: none;
  }
  .container {
    margin: 0 auto;
    align-items: center;
    max-width: 1158px;
    padding: 0 15px;
  }
  .contacts-info {
    display: flex;
    margin-left: auto;
    margin-top: 0;
    position: static;
    font-style: normal;
    z-index: 0;
  }
  .list-contacts {
    display: flex;
    align-items: center;
  }
  .list-contacts-item {
    font-size: 12px;
    letter-spacing: 0.04em;
    margin: -1px;
  }
  .list-contacts-item:nth-child(odd) {
    margin-bottom: 0;
  }
  .hero {
    background-color: var(--dark-blue);
  }
  .trait-list {
    flex-direction: row;
    gap: 24px;
  }
  .title-third {
    text-align: start;
  }
  .portfolio-card img {
    height: 300px;
  }

  .team-list {
    flex-direction: row;
    gap: 64px 24px;
  }
  .row {
    flex-direction: row;
  }
  .subscribe {
    gap: 24px;
    justify-content: start;
  }
  .subscribe-form {
    flex-direction: row;
    gap: 24px;
  }
  .footer-text {
    font-weight: 500;
    width: 100%;
    max-width: 264px;
    margin-right: auto;
    justify-content: start;
    font-weight: 500;
  }
  .text-footer {
    text-align: start;
  }
  .footer-social {
    text-align: start;
  }

  /*modal leave contacts*/
  .modal {
    width: 408px;
    height: 584px;
    padding: 24px;
  }
  .modal-paragraph {
    left: 44px;
    height: 25px;
    width: 350px;
  }
  .modal-form {
    transform: translateY(-11px);
    width: 360px;
  }
  .user-privacy-container {
    height: 16px;
    width: 360px;
    top: 474px;
    left: 40px;
  }
  .btn-form {
    top: 511px;
    left: 135.5px;
  }
  .page-wrapper {
    left: -17px;
    width: 406px;
    height: 584px;
  }
  .modal-close {
    left: 376px;
  }
  .privacy-policy-link {
    margin-left: 0;
  }

/*tablet*/
@media (min-width: 582px) and (max-width: 1157px) {
  /*header*/
  .section {
    padding: 96px 0;
  }
  .logo {
    flex-grow: 0;
    white-space: nowrap;
    margin-right: 120px;
  }
  .contacts-info {
    max-width: 120px;
    flex-shrink: 0;
  }
  .list-contacts {
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    flex-shrink: 1;
  }
  .contacts-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
  .contacts-link:hover,
  .contacts-link:focus {
    color: var(--dark-light-blue);
  }
  .contacts-info li {
    list-style-type: none;
    flex-shrink: 0;
  }

  /* HERO */
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/bg-hero/hero-bg-tab-1x.jpg');
    max-height: 436px;
    padding: 112px 0;
  }
  .hero-text {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
  }

  /* TRAIT */
  .trait-list {
    gap: 72px 24px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0;
  }
  .trait-item {
    flex-basis: calc((100% - 26px) / 2);
  }
  .trait-text {
    line-height: 1.5;
  }

  /* TEAM */
  .team-list {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-basis: calc((100% - 24px) / 2);
    margin: 0;
  }

  /* PORTFOLIO */
  .portfolio-list {
    gap: 72px 24px;
  }
  .portfolio-list img {
    max-width: 356px;
  }
  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }

  /*footer*/
  .footer {
    padding: 96px 93px;
    height: auto;
    min-height: 456px;
  }
  .row {
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .footer-social {
    align-self: flex-start;
  }

  /*modal leave contacts*/
  .page-wrapper {
    top: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1157px) and (min-resolution: 2dppx) {
  .hero {
    display: flex;
    justify-items: center;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/bg-hero/hero-bg-tab-2x.jpg');
  }
}

/*desktop*/
@media (min-width: 1158px) {
  /*header*/
  
  .section {
    padding: 120px 0;
  }
  .logo {
    flex-shrink: 0;
    flex-grow: 0;
    margin-right: 76px;
    padding: 20px 0;
  }
  .contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    color: var(--lightest-dark-blue);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-link:hover,
  .contacts-link:focus {
    color: var(--dark-light-blue);
  }
  .contacts-info li {
    list-style-type: none;
    flex-shrink: 0;
  }
  .list-contacts {
    gap: 42px;
    margin-left: auto;
  }

  /* HERO */
  .hero {
    min-height: 600px;
    max-width: 1440px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/bg-hero/hero-bg-1x.jpg');
    margin: 0 auto;
    padding: 188px 0;
  }
  .hero-text {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 48px;
  }

  /* TRAIT */
  .trait-list {
    flex-direction: row;
    gap: 24px;
  }
  .trait-item {
    width: calc((100% - 72px) / 4);
  }
  .trait-icon {
    display: flex;
    background-color: var(--lightest-blue);
    border: 1px solid var(--middle-grey);
    border-radius: 4px;
    margin-bottom: 8px;
    padding: 24px 100px;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 112px;
  }
  .title-third {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .trait-text,
  .team-text {
    font-weight: 400;
  }
  .team-img {
    width: 264px;
    height: 260px;
  }

  /* PORTFOLIO */
  .portfolio-list {
    gap: 48px 24px;
  }
  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }

  /*footer*/
  .footer {
    padding: 100px 0;
    max-height: 312px;
  }
  .row {
    align-items: baseline;
  }
  .subscribe {
    margin-left: 80px;
  }
  .text-footer {
    align-self: flex-start;
    margin-right: 120px;
  }
  .footer-social {
    gap: 0;
  }

  /*modal leave contacts*/
  .page-wrapper {
    top: 4px;
  }
}

@media (min-width: 1158px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/bg-hero/hero-bg-1x.jpg');
  }
}